/* Variables */
:root {
    /* Colors */
    --color-primary: #333333;
    --color-secondary: #555555;
    --color-accent: #c9a16e;
    --color-accent-rgb: 201, 161, 110; /* RGB version of accent color for animations */
    --color-light: #f7f4ec;
    --color-accent-light: #E9E6DA;
    --color-accent-light-rgb: 233, 230, 218; /* RGB version of accent light color */
    --color-dark: #222222;
    --color-text: #333333;
    --color-text-light: #4e4e4e;
    --color-text-dark: #42423f;
    --color-white: #ffffff;
    --color-background: #f7f4ec;
    --color-black: #000000;
    
    /* Fonts */
    --font-primary: 'Sohne';
    --font-headings: 'KudryashevDisplay';
    --font-close: 'Helvetica';
    
    /* Spacing */
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 40px;
    --spacing-xl: 80px;
    
    /* Container */
    --container-width: 1200px;
    --grid-gap: 30px;

    /* Border */
    --border-solid: 1px solid var(--color-black);

    /* Text */
    --paragraph-md: 13px;
    --paragraph-sm: 12px;
    --paragraph-lg: 14px;

    --text-lg: 17px;
    --text-md: 13px;
    --text-sm: 11px;

    --product-sm: 12px;
    --product-md: 13px;
    --product-lg: 14px; 
    --product-title: 17px;
    --product-description: 13px;
    
    /* Ajax Cart Items */
} 
