/* Notification Banner */
#top-notification {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    padding: 6px 0;
    position: relative;
}

.notification-content {
    font-family: 'WorkSans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    padding-left: 40px;
}

#close-notification {
    background: none;
    border: none;
    color: var(--color-light);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
    font-family: var(--font-headings);
    line-height: 1;
    padding: 5px;
    opacity: 0.8;
}

#close-notification:hover {
    opacity: 1;
    font-weight: bold;
} 